langchain_openai
python-dotenv
ipykernel
llama-index-core
llama-parse
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-openai
langchain
langchain_community
llama-index
langgraph
llama-index-postprocessor-flag-embedding-reranker
llama-index-postprocessor-sbert-rerank
git+https://github.com/FlagOpen/FlagEmbedding.git
llama-index-agent-openai-legacy
llama-index-graph-stores-neo4j